.App {
  height: 100vh;
  width: 100vw;
}

.App__Header {
  background-color: teal;
  color: white;
  text-align: right;
  margin-bottom: 20px;
}

.App__Toggle
{
  padding: 8px 16px;
  background-color: teal;
  margin: 20px;
  color: white;
  border-radius: 3px;
  outline: 0;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 1023px) {
  .App__Header {
    display: none !important;
  }
}
