.MotionBall
{
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: olive;
  border: 2px solid darkgreen;
}

.MotionHeart
{
  position: relative;
    width: 40px;
    height: 35px;
}
.MotionHeart:before,
.MotionHeart:after {
    position: absolute;
    content: "";
    left: 20px;
    top: 0;
    width: 20px;
    height: 30px;
    background: pink;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.MotionHeart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.MotionRainbow
{
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.MotionRainbow-green
{
  background-color: green;
}

.MotionRainbow-red
{
  background-color: red;
}


.MotionRainbow-blue
{
  background-color: blue;
}

.MotionRainbow-pink
{
  background-color: pink;
}

.MotionRainbow-purple
{
  background-color: purple;
}

.MotionRainbow-yellow
{
  background-color: yellow;
}

.MotionRainbow-orange
{
  background-color: orange;
}

.MotionRainbow-skin
{
  background-color: #ffe0bd;
}

.MotionRainbow-mustard
{
  background-color: #ffdb58;
}

.MotionRainbow-brown
{
  background-color: saddlebrown;
}

.MotionRainbow-black
{
  background-color: black;
}

.MotionRainbow-light-green
{
  background-color: lightgreen;
}

.MotionRainbow-aqua
{
  background-color: aquamarine;
}

.MotionRainbow-orange-red
{
  background-color: orangered;
}

.MotionRainbow-light-blue
{
  background-color: lightblue;
}

.MotionRainbow-magenta
{
  background-color: magenta;
}

.MotionRainbow-dark-aqua
{
  background-color: mediumaquamarine;
}

.MotionRainbow-light-purple
{
  background-color: mediumpurple;
}
